@model Car
<h1 class="alert alert-info text-center">@Model.CarName Details</h1>

<partial name="_CarData" />

<a asp-controller="Cars" asp-action="GetIndexView" class="btn btn-warning mt-5"><i class="bi bi-arrow-left-circle"></i> Back to List</a>