@model Car
<h1 class="alert alert-dark text-center">Edit @Model.CarName</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Cars" asp-action="EditCurrent" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div>
            <label asp-for="CarName"></label>
            <input type="text" asp-for="CarName" class="form-control" />
            <span asp-validation-for="CarName" class="text-danger"></span>
        </div>

        <div class="mt-2">
            <label asp-for="CarModel"></label>
            <input  asp-for="CarModel" class="form-control" />
            <span asp-validation-for="CarModel" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="CarBrand"></label>
            <input type="text" asp-for="CarBrand" class="form-control" />
            <span asp-validation-for="CarBrand" class="text-danger"></span>
        </div>

        <div class="mt-2">
            <label asp-for="EngineCapacity"></label>
            <input type="text" asp-for="EngineCapacity" class="form-control" />
            <span asp-validation-for="EngineCapacity" class="text-danger"></span>

        </div>

        <div>
            <label asp-for="Price"></label>
            <input type="text" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mt-2">
            <label asp-for="ImagePath"></label>
            <input type="file" name="imageFormFile" id="imageFormFile" accept=".png,.jpg" class="form-control" onchange="SetImg()" />
        </div>

        <div>
            <label asp-for="BrandId"></label>
            <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.AllBrands, "Id", "BrandName"))" class="form-control">
                <option selected disabled>Select...</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="ImagePath" />
        <button type="submit" class="btn btn-primary mt-5 w-50">Edit</button>
        <a asp-controller="Cars" asp-action="GetIndexView" class="btn btn-warning mt-5"><i class="bi bi-arrow-left-circle"></i> Back to List</a>

    </form>
    <img src="@Model.ImagePath" id="CarImage" class="col-4 card border-0" style="object-fit:contain" />

    @section scripts{
        <script>
            function SetImg() {
                document.getElementById("CarImage").src = window.URL.createObjectURL(document.getElementById("imageFormFile").files[0]);
            }
        </script>
    }


</div>